---
## Data Driven Modeling WS24/25
### Milestone 2 - Data Understanding
### by Lennard Feuerbach
---

#### Imports

In [1]:
import os
import pandas as pd
import geopandas as gpd

#### Description of data extract

##### County Data:

- **Total Rows**: 3,233
- **Missing Values**: 0%

    <br>

    | Column Name | Description |
    |-------------|-------------|
    | STATEFP | FIPS State Code |
    | COUNTYFP | FIPS County Code |
    | COUNTYNS | ANSI code for the county |
    | AFFGEOID | Combination of STATEFP and COUNTYFP with additional prefix |
    | GEOID | Combination of STATEFP and COUNTYFP |
    | NAME | Name of the county |
    | LSAD | Legal/Statistical Area Description |
    | ALAND | Land area in square meters or square feet |
    | AWATER | Water area in square meters or square feet |
    | geometry | Geographical data in polygon format for plotting |

    <br>

##### GDP Data:

- **Total Rows**: 108,052
- **Missing Values**: Around 16%, present in columns for years (2017 to 2022)

    <br>
    
    | Column Name               | Description |
    |----------------------------|-------------|
    | FIPS                       | FIPS County Code |
    | GeoName                    | Name of the county, state |
    | Region                     | ??? |
    | TableName                  | ??? |
    | LineCode                   | Row number per county |
    | IndustryClassification     | NAICS Code for the industry |
    | Description                | Industry Description |
    | Unit                       | Unit of measurement for GDP |
    | 2017                       | GDP for the year 2017 |
    | 2018                       | GDP for the year 2018 |
    | 2019                       | GDP for the year 2019 |
    | 2020                       | GDP for the year 2020 |
    | 2021                       | GDP for the year 2021 |
    | 2022                       | GDP for the year 2022 |
    
    <br>


##### NAICS Pattern Data:

- **Total Rows**: 54,727
- **Missing Values**: 0%

    <br>

    | Column Name        | Description |
    |---------------------|-------------|
    | State_GEOID         | FIPS State Code |
    | County_GEOID        | FIPS County Code |
    | FIPS                | Combination of State_GEOID and County_GEOID |
    | naics_2             | Top level category of NAICS (First two digits) |
    | naics               | Classification Code for the industries |
    | DESCRIPTION         | Description of the industry |
    | emp_nf              | Total Mid-March Employees Noise Flag |
    | emp                 | Total Mid-March Employees with Noise |
    | qp1_nf              | Total First Quarter Payroll Noise Flag |
    | qp1                 | Total First Quarter Payroll ($1,000) with Noise |
    | ap_nf               | Total Annual Payroll Noise Flag |
    | ap                  | Total Annual Payroll ($1,000) with Noise |
    | est                 | Total Number of Establishments |
    | n<5                 | Number of establishments with fewer than 5 employees |
    | n5_9                | Number of establishments with 5 to 9 employees |
    | n10_19              | Number of establishments with 10 to 19 employees |
    | n20_49              | Number of establishments with 20 to 49 employees |
    | n50_99              | Number of establishments with 50 to 99 employees |
    | n100_249            | Number of establishments with 100 to 249 employees |
    | n250_499            | Number of establishments with 250 to 499 employees |
    | n500_999            | Number of establishments with 500 to 999 employees |
    | n1000               | Number of establishments with 1000 or more employees |
    | n1000_1             | Number of establishments with 1,000 to 1,499 employees |
    | n1000_2             | Number of establishments with 1,500 to 2,499 employees |
    | n1000_3             | Number of establishments with 2,500 to 4,999 employees |
    | n1000_4             | Number of establishments with 5,000 tor more employees |

    <br>


##### State Data:

- **Total Rows**: 56
- **Missing Values**: 0%

    <br>

    | Column Name | Description |
    |-------------|-------------|
    | STATEFP     | FIPS State Code |
    | STATENS     | ANSI code for the state |
    | AFFGEOID    | Same as FIPS with additional prefix |
    | GEOID       | Same as FIPS |
    | STUSPS      | FIPS State Postal Code |
    | NAME        | Name of the state |
    | LSAD        | Legal/Statistical Area Description |
    | ALAND       | Land area in square meters or square feet |
    | AWATER      | Water area in square meters or square feet |
    | geometry    | Geographical data in polygon format for plotting |

    <br>


##### Occupation Data:

- **Total Rows**: 1,020,802
- **Missing Values**: Around 1%, present in the `state_name` column

    <br>

    | Column Name                | Description |
    |-----------------------------|-------------|
    | FIPS                        | FIPS code for the county |
    | State_GEOID                 | Same as the FIPS for the State |
    | naics                       | NAICS code for the industry |
    | NAICS_TITLE                 | NAICS titel for the industry |
    | emp_total_county_naics      | Total of all employees in a county for a NAICS code |
    | OCC_CODE                    | SOC occupation code |
    | OCC_TITLE                   | SOC occupation description |
    | emp_occupation              | Number of employees in the occupation |
    | state_name                  | Name of the state |

    <br>

#### Data integration

In [2]:
# Get the current working directory
current_folder = os.getcwd()

# Move up one folder
project_folder = os.path.abspath(os.path.join(current_folder, '..'))

In [3]:
# Read the data from the pickle files
data_path = project_folder + "/data/raw/"

county_data = pd.read_pickle(data_path + "county.pickle")
gdp_data = pd.read_pickle(data_path + "gdp.pickle")
naics_pattern_data = pd.read_pickle(data_path + "naics_pattern.pickle")
state_data = pd.read_pickle(data_path + "state.pickle")

occupation_data_1 = pd.read_pickle(data_path + "naics_occupation_part1.pickle")
occupation_data_2 = pd.read_pickle(data_path + "naics_occupation_part2.pickle")
occupation_data_3 = pd.read_pickle(data_path + "naics_occupation_part3.pickle")
occupation_data = pd.concat([occupation_data_1, occupation_data_2, occupation_data_3])

#### Data exploration

In [4]:
# County data
display(county_data.sample())
display(county_data.info())

# Percentage of missing values
missing_percentage_county = county_data.isnull().mean() * 100
print(missing_percentage_county)

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
395,13,195,01688004,0500000US13195,13195,Madison,06,731225618,8461934,"POLYGON ((-83.40243 34.1975, -83.40012 34.2005..."

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATEFP   3233 non-null   object
 1   COUNTYFP  3233 non-null   object
 2   COUNTYNS  3233 non-null   object
 3   AFFGEOID  3233 non-null   object
 4   GEOID     3233 non-null   object
 5   NAME      3233 non-null   object
 6   LSAD      3233 non-null   object
 7   ALAND     3233 non-null   int64
 8   AWATER    3233 non-null   int64
 9   geometry  3233 non-null   geometry
dtypes: geometry(1), int64(2), object(7)
memory usage: 252.7+ KB

None

STATEFP     0.0
COUNTYFP    0.0
COUNTYNS    0.0
AFFGEOID    0.0
GEOID       0.0
NAME        0.0
LSAD        0.0
ALAND       0.0
AWATER      0.0
geometry    0.0
dtype: float64

In [5]:
# GDP data
display(gdp_data.sample())
display(gdp_data.info())

# Percentage of missing values
missing_percentage_gdp = gdp_data.isnull().mean() * 100
print(missing_percentage_gdp)

,FIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2017,2018,2019,2020,2021,2022
35043,21029,"Bullitt, KY",5,CAGDP9,75,"71,72","Arts, entertainment, recreation, accommodati...",Thousands of chained 2017 dollars,76811.0,74040.0,77006.0,67325.0,76668.0,79313.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108052 entries, 0 to 108051
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   FIPS                    108052 non-null  int64
 1   GeoName                 108052 non-null  object
 2   Region                  108052 non-null  object
 3   TableName               108052 non-null  object
 4   LineCode                108052 non-null  int64
 5   IndustryClassification  108052 non-null  object
 6   Description             108052 non-null  object
 7   Unit                    108052 non-null  object
 8   2017                    89946 non-null   float64
 9   2018                    90011 non-null   float64
 10  2019                    89731 non-null   float64
 11  2020                    89941 non-null   float64
 12  2021                    90131 non-null   float64
 13  2022                    90103 non-null   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 11.5+ MB

None

FIPS                       0.000000
GeoName                    0.000000
Region                     0.000000
TableName                  0.000000
LineCode                   0.000000
IndustryClassification     0.000000
Description                0.000000
Unit                       0.000000
2017                      16.756747
2018                      16.696591
2019                      16.955725
2020                      16.761374
2021                      16.585533
2022                      16.611446
dtype: float64

In [6]:
# NAICS pattern data
display(naics_pattern_data.sample())
display(naics_pattern_data.info())

# Percentage of missing values
missing_percentage_naics_pattern = naics_pattern_data.isnull().mean() * 100
print(missing_percentage_naics_pattern)

# Percentage of N values
n_percentage_naics_pattern = naics_pattern_data.eq("N").mean() * 100
print(n_percentage_naics_pattern)

,State_GEOID,County_GEOID,FIPS,naics_2,naics,DESCRIPTION,emp_nf,emp,qp1_nf,qp1,...,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4
35431,13,257,13257,44,4413,"Automotive Parts, Accessories, and Tire Stores",J,51,H,358,...,N,N,N,N,N,N,N,N,N,N

<class 'pandas.core.frame.DataFrame'>
Index: 54727 entries, 0 to 188589
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State_GEOID   54727 non-null  object
 1   County_GEOID  54727 non-null  object
 2   FIPS          54727 non-null  int64
 3   naics_2       54727 non-null  object
 4   naics         54727 non-null  object
 5   DESCRIPTION   54727 non-null  object
 6   emp_nf        54727 non-null  object
 7   emp           54727 non-null  int64
 8   qp1_nf        54727 non-null  object
 9   qp1           54727 non-null  int64
 10  ap_nf         54727 non-null  object
 11  ap            54727 non-null  int64
 12  est           54727 non-null  int64
 13  n<5           54727 non-null  object
 14  n5_9          54727 non-null  object
 15  n10_19        54727 non-null  object
 16  n20_49        54727 non-null  object
 17  n50_99        54727 non-null  object
 18  n100_249      54727 non-null  object
 19  n250_499      54727 non-null  object
 20  n500_999      54727 non-null  object
 21  n1000         54727 non-null  object
 22  n1000_1       54727 non-null  object
 23  n1000_2       54727 non-null  object
 24  n1000_3       54727 non-null  object
 25  n1000_4       54727 non-null  object
dtypes: int64(5), object(21)
memory usage: 11.3+ MB

None

State_GEOID     0.0
County_GEOID    0.0
FIPS            0.0
naics_2         0.0
naics           0.0
DESCRIPTION     0.0
emp_nf          0.0
emp             0.0
qp1_nf          0.0
qp1             0.0
ap_nf           0.0
ap              0.0
est             0.0
n<5             0.0
n5_9            0.0
n10_19          0.0
n20_49          0.0
n50_99          0.0
n100_249        0.0
n250_499        0.0
n500_999        0.0
n1000           0.0
n1000_1         0.0
n1000_2         0.0
n1000_3         0.0
n1000_4         0.0
dtype: float64
State_GEOID      0.000000
County_GEOID     0.000000
FIPS             0.000000
naics_2          0.000000
naics            0.000000
DESCRIPTION      0.000000
emp_nf           0.000000
emp              0.000000
qp1_nf           0.000000
qp1              0.000000
ap_nf            0.000000
ap               0.000000
est              0.000000
n<5             37.148026
n5_9            65.543516
n10_19          73.702195
n20_49          79.045078
n50_99          91.362582
n100_249        94.903795
n250_499        98.876240
n500_999        99.682058
n1000           99.841029
n1000_1         99.930564
n1000_2         99.947010
n1000_3         99.963455
n1000_4         99.976246
dtype: float64

In [7]:
# State data
display(state_data.sample())
display(state_data.info())

# Percentage of missing values
missing_percentage_state = state_data.isnull().mean() * 100
print(missing_percentage_state)

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
34,33,01779794,0400000US33,33,NH,New Hampshire,00,23189413166,1026675248,"MULTIPOLYGON (((-70.61702 42.97718, -70.61529 ..."

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATEFP   56 non-null     object
 1   STATENS   56 non-null     object
 2   AFFGEOID  56 non-null     object
 3   GEOID     56 non-null     object
 4   STUSPS    56 non-null     object
 5   NAME      56 non-null     object
 6   LSAD      56 non-null     object
 7   ALAND     56 non-null     int64
 8   AWATER    56 non-null     int64
 9   geometry  56 non-null     geometry
dtypes: geometry(1), int64(2), object(7)
memory usage: 4.5+ KB

None

STATEFP     0.0
STATENS     0.0
AFFGEOID    0.0
GEOID       0.0
STUSPS      0.0
NAME        0.0
LSAD        0.0
ALAND       0.0
AWATER      0.0
geometry    0.0
dtype: float64

In [8]:
# Occupation data
display(occupation_data.sample())
display(occupation_data.info())

# Percentage of missing values
missing_percentage_occupation = occupation_data.isnull().mean() * 100
print(missing_percentage_occupation)

,FIPS,State_GEOID,naics,NAICS_TITLE,emp_total_county_naics,OCC_CODE,OCC_TITLE,emp_occupation,state_name
1791825,02290,2,2211,"Electric Power Generation, Transmission and Di...",17,51-9021,"Crushing, Grinding, and Polishing Machine Sett...",0.011946,Alaska

<class 'pandas.core.frame.DataFrame'>
Index: 1020802 entries, 0 to 1994255
Data columns (total 9 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   FIPS                    1020802 non-null  object
 1   State_GEOID             1020802 non-null  int64
 2   naics                   1020802 non-null  object
 3   NAICS_TITLE             1020802 non-null  object
 4   emp_total_county_naics  1020802 non-null  int64
 5   OCC_CODE                1020802 non-null  object
 6   OCC_TITLE               1020802 non-null  object
 7   emp_occupation          1020802 non-null  float64
 8   state_name              1012343 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 77.9+ MB

None

FIPS                      0.000000
State_GEOID               0.000000
naics                     0.000000
NAICS_TITLE               0.000000
emp_total_county_naics    0.000000
OCC_CODE                  0.000000
OCC_TITLE                 0.000000
emp_occupation            0.000000
state_name                0.828662
dtype: float64

# Taking a deeper look

#### Business insights

The data provided does not include information specific to PFERDs business, as it only contains data about the US market, economy and its industries. Consequently, it does not yield direct business insights about PFERD itself. However, it does allow us to gather valuable insights about the U.S. sectors, the economy, and potentially identify interesting countries and states that could be relevant for PFERD.

The data indicates that regions around Chicago and Detroit in the northeast, as well as San Francisco, Los Angeles, and Phoenix in the west, and New York and areas of Florida in the east, have counties with industries that could be valuable to PFERD.

#### Implications for data preperation

1. Initial data inspection (Done in this step)
2. Handle missing values (How exactly has to be defined)
3. Correct data types (How do we deal with the objects)
4. Remove duplicates (If there are even any)
5. Adjust column names (Some columns mean the same but are named differently)
6. Detect and handle outliers (Deeper Insights required for that)
7. Normalize data (Including categorical values)
8. Add new features? (Is this part of preperation?)
9. Validate the prepared data (Make sure everything works as intended)